<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<mapping class="com.github.snd297.finalentities.model.FinalBicycle" />
		<mapping class="com.github.snd297.finalentities.model.FinalWheel" />
		<mapping class="com.github.snd297.finalentities.model.FinalMethodSpoke" />
	</session-factory>
</hibernate-configuration>